body {
    padding : auto;
    position : relative;
    top : 150px;
    background-color:  white;
    margin : auto;
    width : 50%;
    display : flex;
    flex-direction : column;
    align-items: center;
    border : 1px solid black;
    box-shadow: 
       
     0 1px 1px rgb(0,0,0,0,15),

     0 10px 0 -5px #000,

     0 10px 1px -4px rgb(0,0,0,0,15),

     0 28px 1px -9px rgb(0,0,0,0,15);
    
     padding : 30px;
}


.todo-item {
    display:  flex;
    justify-content: flex-start;
    align-items: center;
    padding : 30px 20px 0;
    width : 70%;
    border-bottom : 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight : 100;
    font-size : 15px;
    color : #333333;
    padding : 50px;
    margin : auto;
}

input[type=checkbox] {
    margin-right : 10px;
}
 
